@use "../colors"
@use "../utils/variables"

@mixin minimal-scrollbar
  &::-webkit-scrollbar
    width: variables.$gutter*2
    &-thumb
      border-radius: variables.$gutter
      background: colors.$color-grey-light-1
  &:hover
    &::-webkit-scrollbar
      display: block

@mixin minimal-scrollbar-hidden
  &::-webkit-scrollbar
    display: none
    width: variables.$gutter*2
    &-thumb
      border-radius: variables.$gutter
      background: colors.$color-grey-light-1
  &:hover
    &::-webkit-scrollbar
      display: block