@use "../utils/variables"

.layout
  display: flex
  height: 100%
  &__aside
    max-width: 100%
    background: var(--bg-color-main)
    border-right: 1px solid var(--bg-color-secondary)
  &__main
    width: 100%
    height: 100%
    overflow: auto
  &__header
    background: var(--bg-color-main)
    position: sticky
    top: 0
  &__content
    width: 100%
    height: 100%
    background: var(--bg-color-main)
  &__dialog
    //display: flex
    display: none
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    align-items: center
    justify-content: center
    background: var(--bg-color-secondary)