@use "../settings/colors"

:root
  --color-primary: #{colors.$color-primary}
  --color-secondary: #{colors.$color-secondary}
  --link-color: #{colors.$color-primary}
  --link-color-selected: #{colors.$color-secondary}
  --link-color-hover: #{colors.$color-secondary}

@mixin light-theme
  --bg-color-main: #{colors.$color-grey-light-3}
  --bg-color-header: #{colors.$color-grey-light-1}
  --bg-color-side: #{colors.$color-grey-light-2}
  --bg-color-secondary: #{colors.$color-white-0}
  --main-font-color: #{colors.$color-black}

@mixin dark-theme
  --bg-color-main: #{colors.$color-grey-dark-2}
  --bg-color-header: #{colors.$color-grey-dark-3}
  --bg-color-side: #{colors.$color-grey-dark-1}
  --bg-color-secondary: #{colors.$color-grey}
  --main-font-color: #{colors.$color-white}

:root
  @include light-theme
  &.dark-theme
    @include dark-theme

  @media (prefers-color-scheme: dark)
    @include dark-theme
    &.light-theme
      @include light-theme